
table {
	
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
table, th, td {
  border: solid white;
  height: 30px;
}
h1 {
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}
footer {
  text-align: center;
}
